* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dae5ed;
  color: #222222;
}
.itemList {
  width: 90vw;
  max-width: 1170px;
  max-width: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .itemList {
    grid-template-columns: repeat(4, 1fr);
  }
}
.items {
  padding: 1rem 2rem;
}
.items h4 {
  margin-top: 0.5rem;
}
